/* You can add global styles to this file, and also import other style files */
.bg_green{
    background-color: green;
}
.bg-yellow{
    background-color: yellow;
}
.bg-red{
    background-color: red;
}